/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-weight: 600;
    font-size: 32px;
}

.navbar.scrolled {
    background-color: #DEB887;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../img/IKP_0070\ copy.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
    
}

.jumbotron .container {
    position: relative;
    z-index: 1;
    opacity: 1;
}

.jumbotron .display-4 {
    color: white;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    margin-top: 150px;
    font-size: 40px;
}

.jumbotron p {
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.vertical-center {
    align-items: center;
}

#jumbotron-header::after {
    content: "";
    display: block;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
}

.info-line-jumbotron {
    width: 150px;
    height: 5px;
    background-color: white;
    border: #DEB887;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Card Price Info */
.card {
    border-radius: 0px;
    border: none;
}

.card h5 {
    color: #DEB887;
    text-align: center;
    font-weight: 600;
}

.card p {
    color: #055B66;
    text-align: center;
    font-weight: 500;
}

.card-news:hover::after {
    content: '';
    display: block;
    border-bottom: 10px solid #DEB887;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: -15px;
}

.content{
    top: 45%;
    left: 50%;
    transform: translate(-50, -50%);
    color: #fff;
    text-align: center;
    margin-top: 50%;
}

.content h5{
    color: white;
}

.content p{
    color: white;
}

.content-button{
    position: absolute;
    background: rgb(222, 184, 135);
    bottom: 0;
    width: 100%;
    height: 100px;
}

.content-button, .row{
    margin-top: 25px;
}

.content-button p{
    font-size: 25px;
    margin: auto;
}

.content-button svg{
    width: 2rem;
    height: 2rem;
    margin: auto;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(47, 79, 79, 0.7);
}

.wrapper:hover .overlay{
    opacity: 1;
}

.question-title {
    font-weight: 700;
    font-size: 30px;
    color: black;
    margin-top: 100px;
}

/* Info Footer*/
.social-media{
    margin: 10px 0;
}

.social-media a{
    color: white;
    margin-right: 25px;
    font-size: 16px;
    text-decoration: none;
    transition: .3x linear;
}

.social-media a:hover{
    color: #DEB887;
}

.footer-menu{
    margin: 10px 0;
}

.footer-menu a{
    color: white;
    margin-right: 25px;
    font-size: 16px;
    text-decoration: none;
    transition: .3x linear;
}

.footer-menu a:hover{
    color: #DEB887;
}

#footer-title{
    font-size: 20px;
    margin-top: 10px;
}

#contact-footer{
    float: left;
    
}

#copyright-footer{
    float: left;
}
@media (min-width: 992px) {

    /* Navbar */
    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
        transition: all 0.5s;
        transition-timing-function: ease-in;
    }

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link {
        text-transform: uppercase;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid tomato;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    /* Jumbotron */
    .jumbotron {
        margin-top: -75px;
        height: 100vh;
    }

    .jumbotron .display-4 {
        color: white;
        font-weight: 500;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        margin-top: 200px;
        font-size: 62px;
    }

    .jumbotron p {
        color: white;
        font-size: 20px;
    }

    /* Info Footer */
    #footer-title{
        font-size: 30px;
    }
    #contact-footer{
        float: right;
    }

    #copyright-footer{
        float: right;
    }
}